body {
    background: url(/background/KRwfMz3.png) no-repeat;
    background-size: cover;
}

@media (max-width: 1364px) {
    body {
        background: url(/background/KRwfMz3.png) no-repeat center;
        background-size: cover;
    }
}